:root {
  --success: #12766c;
  --fail: #b65b71;
}

.email {
  background-color: var(--quaternary);
  box-shadow: 8px 8px var(--tertiary);
  border: none;
  border-radius: 50px;
  padding: 16px;
}

.email-message {
  font-size: 0.8rem;
  margin-top: 10px;
  opacity: 1;
  text-align: center;
  transition: opacity 0.8s ease;
}

.email-message.fade {
  opacity: 0;
}
