:root {
  --success: #12766c;
  --fail: #b65b71;
}

.contact-card {
  margin: 16px;
  text-align: center;
}

label {
  font-size: 0.8rem;
}

.email {
  background-color: var(--quaternary);
  box-shadow: 8px 8px var(--tertiary);
  border: none;
  border-radius: 50px;
  padding: 20px;
}

.email-info,
.message-area {
  border: none;
  border-radius: 25px;
  font-family: "Rubik", sans-serif;
  margin-bottom: 8px;
  padding: 16px;
  width: 100%;
}

.message-area {
  min-height: 120px;
}

.email-message {
  font-size: 0.8rem;
  margin-top: 10px;
  opacity: 1;
  text-align: center;
  transition: opacity 0.8s ease;
}

.email-message.fade {
  opacity: 0;
}

.submit {
  border: none;
  border-radius: 15px;
  background-color: var(--tertiary);
  color: var(--primary);
  font-family: "Abril Fatface", serif;
  padding: 12px 16px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.submit:active {
  transform: scale(0.9);
}

.social-btn {
  border-radius: 25px;
  display: inline-block;
  font-size: 2rem;
  padding: 12px 16px;
}

.social-btn:active {
  background-color: var(--quaternary);
  box-shadow: 8px 8px var(--tertiary);
  cursor: pointer;
  transition: 0.5s;
}

.socials-label {
  margin: 8px;
}

@media screen and (min-width: 768px) {
  .contact-container {
    margin: 16px;
    margin-inline: auto;
    max-width: 1200px;
  }

  .socials {
    display: flex;
    justify-content: center;
  }

  .social-btn:hover {
    background-color: var(--quaternary);
    box-shadow: 8px 8px var(--tertiary);
    cursor: pointer;
    transition: 0.5s;
  }
}
