.tech-stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.tech-card {
  background-color: var(--quaternary);
  border-radius: 50px;
  box-shadow: 8px 8px var(--tertiary);
  padding: 12px 16px;
  text-align: center;
}
