.tech-stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-inline: auto;
  max-width: 1200px;
}

.tech-card {
  background-color: var(--quaternary);
  border-radius: 50px;
  box-shadow: 8px 8px var(--tertiary);
  margin: 16px;
  padding: 12px 16px;
  text-align: center;
}
