:root {
  --primary: #ffffff;
  --secondary: #1e1e1f;
  --tertiary: #0f5750;
  --quaternary: #ecc5cf;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-inline: auto;
  max-width: 1200px;
}

.project-card {
  background-color: var(--quaternary);
  box-shadow: 8px 8px var(--tertiary);
  border-radius: 50px;
  margin: 16px;
  padding: 12px 16px;
  text-align: center;
}

.project-img {
  border-radius: 10px;
  height: auto;
  max-width: 100%;
}

.project__subtitle {
  text-align: center;
}

.project-ul {
  display: grid;
  list-style-type: none;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 1rem auto;
  max-width: 1000px;
  padding: 0;
  text-align: center;
}

.project-ul.hide {
  display: none;
}

.project-li {
  margin: 16px;
}

.project-li a {
  border-radius: 50px;
  padding: 12px 16px;
}

.project-li a:active {
  background-color: var(--quaternary);
  box-shadow: 8px 8px var(--tertiary);
}

#other-projects {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .project-card {
    background-color: transparent;
    box-shadow: none;
  }

  .project-card:hover {
    background-color: var(--quaternary);
    box-shadow: 10px 10px var(--tertiary);
    transition: 0.5s;
  }

  .project__subtitle:hover {
    color: var(--quaternary);
    cursor: pointer;
  }

  .project-li a:hover {
    background-color: var(--quaternary);
    box-shadow: 8px 8px var(--tertiary);
    cursor: pointer;
    transition: 0.5s;
  }
}
