:root {
  --primary: #ffffff;
  --secondary: #1e1e1f;
  --tertiary: #0f5750;
  --quaternary: #d8abb7;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", serif;
}

.header {
  display: flex;
  justify-content: center;
}

.main-container {
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
  }

  .menu-btn {
    cursor: pointer;
  }

  .menu-btn:hover {
    font-style: italic;
  }
}
