:root {
  --primary: #ffffff;
  --secondary: #1e1e1f;
  --tertiary: #0f5750;
  --quaternary: #ecc5cf;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", serif;
  margin: 8px;
}

p {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

.header {
  margin: 32px 0 16px 0;
  text-align: center;
}

.logo-img {
  height: 30px;
  width: 30px;
}

.navbar {
  align-items: center;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  left: 0;
  max-height: 0;
  overflow: hidden;
  padding-bottom: 16px;
  position: absolute;
  right: 0;
  top: 65px;
  transition: max-height 0.6s ease, padding 0.4s ease;
  width: 100%;
  z-index: 999;
}

.navbar.active {
  max-height: 500px;
}

.menu-btn {
  border-radius: 50px;
  display: inline-block;
  padding: 12px 16px;
}

.menu-btn:active {
  background-color: var(--quaternary);
  box-shadow: 8px 8px var(--tertiary);
}

.main-container {
  flex-grow: 1;
  padding: 0 16px;
  overflow: auto;
  width: 100%;
}

.home {
  padding: 32px;
  text-align: center;
}

.profile-img {
  background-color: var(--quaternary);
  border-radius: 50px;
  box-shadow: 8px 8px var(--tertiary);
  height: auto;
  max-width: 300px;
  width: 100%;
}

.footer {
  margin: 32px 0 16px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header {
    margin-top: 16px;
  }

  .logo-img {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: none;
    overflow: visible;
    position: static;
    top: 0;
    width: auto;
  }

  .menu-btn {
    border-radius: 50px;
    padding: 12px 16px;
  }

  .menu-btn:hover {
    background-color: var(--quaternary);
    box-shadow: 8px 8px var(--tertiary);
    cursor: pointer;
    transition: 0.5s;
  }

  .main-container {
    padding: 0 64px;
  }

  .main__title {
    font-size: 3rem;
    text-align: center;
  }

  .profile-img {
    width: 300px;
  }
}
