:root {
  --primary: #ffffff;
  --secondary: #1e1e1f;
  --tertiary: #0f5750;
  --quaternary: #ecc5cf;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", serif;
  margin: 8px;
}

p {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.main-container {
  flex-grow: 1;
}

.main__title {
  font-size: 3rem;
}

.home {
  padding: 32px;
  text-align: center;
}

.project-card {
  border-radius: 25px;
  margin: 16px;
  padding: 12px 16px;
  text-align: center;
}

.project-img,
.profile-img {
  border-radius: 10px;
}

.profile-img {
  background-color: var(--quaternary);
  box-shadow: 8px 8px var(--tertiary);
}

.hide {
  display: none;
}

.footer {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

  .menu-btn {
    border-radius: 50px;
    padding: 12px 16px;
  }

  .menu-btn:hover {
    background-color: var(--quaternary);
    box-shadow: 8px 8px var(--tertiary);
    cursor: pointer;
    transition: 0.5s;
  }

  .project-card:hover {
    background-color: var(--quaternary);
    box-shadow: 10px 10px var(--tertiary);
    transition: 0.5s;
  }
}
