:root {
  --primary: #ffffff;
  --secondary: #1e1e1f;
  --tertiary: #0f5750;
  --quaternary: #e4b9c4;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", serif;
}

p {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: center;
}

.menu-btn {
  color: var(--tertiary);
}

.main-container {
  flex-grow: 1;
}

.hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

  .menu-btn {
    border-radius: 50px;
    padding: 12px 16px;
  }

  .menu-btn:hover {
    background-color: var(--quaternary);
    cursor: pointer;
    transition: 0.5s;
  }
}
