@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/Rubik/Rubik-VariableFont_wght.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Italic-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/Rubik/Rubik-Italic-VariableFont_wght.woff") format("woff");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/Abril_Fatface/AbrilFatface-Regular.woff2") format("woff2"),
    url("../fonts/Abril_Fatface/AbrilFatface-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
